// --------------------------------------------------
// COMMONS STYLE
// --------------------------------------------------
//
a {
	&:hover, &:focus {
		text-decoration: none;
	}
}
ul, li {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.circle-number {
	font-size: 10px;
	.square(17px);
	line-height: 17px;
	display: block;
	background-color: #f7941d;
	border-radius: 17px;
}
.fa-heart {
	color: #fbce08;
}
.container {
	width: auto;
	max-width: 1440px;
}
// OVERRIDE: OVERRIDE STYLE
// -------------------------------------

// COMMON: COMMON STYLE
// -------------------------------------

// Genarate Sprite Images
.icon {
	display: inline-block;
	vertical-align: middle;
}
.sprites(@spritesheet-sprites);
.dropdown-box {
	&:extend(.dropdown-menu);
	padding: 15px;
	.dropdown-title {
		font-size: 16px;
		font-weight: bold;
		margin-top: 0;
		> a.pull-right  {
			font-size: @font-size-base;
		}
	}
}
.open > .dropdown-box {
	&:extend(.open > .dropdown-menu);
}
.pull-right > .dropdown-box {
	&:extend(.pull-right > .dropdown-menu);
}
// ICON CATEGORY
// -------------------------------------
.stitches-icon-cat(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.icon-cat {
    background-image: url('@{img-path}/spritesheet.png');
    background-repeat: no-repeat;
    display: block;

    &.icon-cat-abenteuer {
        .stitches-icon-cat(-5px, -5px, 62px, 32px);
    }

    &.icon-cat-action {
        .stitches-icon-cat(-77px, -5px, 46px, 31px);
    }

    &.icon-cat-brettspiele {
        .stitches-icon-cat(-133px, -5px, 45px, 43px);
    }

    &.icon-cat-denkspiele {
        .stitches-icon-cat(-188px, -5px, 37px, 42px);
    }

    &.icon-cat-dice, &.icon-cat-dice {
        .stitches-icon-cat(-235px, -5px, 41px, 34px);
    }

    &.icon-cat-geschick {
        .stitches-icon-cat(-286px, -5px, 44px, 43px);
    }

    &.icon-cat-kinder {
        .stitches-icon-cat(-340px, -5px, 49px, 42px);
    }

    &.icon-cat-madchen {
        .stitches-icon-cat(-399px, -5px, 45px, 54px);
    }

    &.icon-cat-renen {
        .stitches-icon-cat(-454px, -5px, 51px, 45px);
    }

    &.icon-cat-sport {
        .stitches-icon-cat(-515px, -5px, 40px, 40px);
    }

    &.icon-cat-startseite {
        .stitches-icon-cat(-565px, -5px, 20px, 17px);
    }
}

.icon-cat-sm {
    background-image: url('@{img-path}/spritesheet-sm.png');
    background-repeat: no-repeat;
    display: block;

    &.icon-cat-sm-abenteuer {
        .stitches-icon-cat(-5px, -5px, 52px, 27px);
    }

    &.icon-cat-sm-action {
        .stitches-icon-cat(-67px, -5px, 41px, 32px);
    }

    &.icon-cat-sm-brettspiele {
        .stitches-icon-cat(-118px, -5px, 39px, 38px);
    }

    &.icon-cat-sm-denkspiele {
        .stitches-icon-cat(-167px, -5px, 32px, 36px);
    }

    &.icon-cat-sm-dice {
        .stitches-icon-cat(-209px, -5px, 41px, 34px);
    }

    &.icon-cat-sm-geschick {
        .stitches-icon-cat(-260px, -5px, 38px, 37px);
    }

    &.icon-cat-sm-kinder {
        .stitches-icon-cat(-308px, -5px, 43px, 36px);
    }

    &.icon-cat-sm-madchen {
        .stitches-icon-cat(-361px, -5px, 33px, 40px);
    }

    &.icon-cat-sm-renen {
        .stitches-icon-cat(-404px, -5px, 44px, 39px);
    }

    &.icon-cat-sm-sport {
        .stitches-icon-cat(-458px, -5px, 34px, 34px);
    }
}






/* HOOK COMMONS STYLE */
.hook-common-style;