// --------------------------------------------------
// MAIN STYLE
// --------------------------------------------------
//
// LAYOUT: LAYOUT STYLE
// -------------------------------------
	// Hook Mixin Render Small devices (tablets, 768px and up)
html {
	overflow-x: hidden;
}
.hook-screen-sm-min(){
	.main-layout {
		margin-bottom: 20px;
		#liquid-layout > .fluidFixedSwap(270px, 20px);
	}
}
.site-header {
	background: #161711 url('@{img-path}/bg-header.png') repeat-x center top;
}
.site-content {
}
.site-footer {
	position: relative;
	z-index: 1;
}
.layout-header {
	padding-top: 14px;
	#liquid-layout > .fixedFluidPush(235px, 20px);
}
#content {
	background-color: #fae09b;
	> .container {
		padding-top: 20px;
		padding-bottom: 20px;
		background: #372012 url('@{img-path}/bg-body.png') repeat center top;
	}

}
.footer-middle {
	margin-bottom: 125px;
	.list-toggle-tab {
		> li {
			> a {
				display: block;
				padding: 5px 0;
			}
			&.active {
				> a {
					color: #fff100;
				}
			}
		}
	}
	.tab-content {
		text-align: justify;
		.transition(200ms);
		min-height: 268px;
		border-bottom: 1px solid #bb6428;
		margin-bottom: 30px;
		padding-top: 7px;
		padding-bottom: 10px;
	}
}
.site-footer {
	color: #fff;
	background: #532a14 url('@{img-path}/bg-footer.png') repeat-x center bottom;
	hr {
		border-top-color: #bb6428;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff100;
		}
	}
	.site-info {
		position: relative;
		&:before {
			z-index: 1;
			content: "";
			display: block;
			.size(206px, 216px);
			background: transparent url('@{img-path}/squirrel-footer.png') repeat-x center bottom;
			position: absolute;
			left: -95px;
			bottom: -100px;
			pointer-events: none;
		}
		&:after {
			z-index: 1;
			position: absolute;
			right: -145px;
			bottom: -120px;
			content: "";
			display: block;
			.size(396px, 726px);
			background: transparent url('@{img-path}/tree.png') no-repeat 0 0;
			pointer-events: none;
		}
	}
}
// MODULE: MODULE STYLE
// -------------------------------------
.menu-toggle {
	display: none;
}
.site-main-menu {
	background: transparent url('@{img-path}/bg-main-menu.png') repeat-x left bottom;
	.main-navigation {
		margin-top: -4px;
	}
}
.site-description {
	color: #fff;
	font-weight: bold;
	text-shadow: -1px -1px 0 #4d1609, 1px -1px 0 #4d1609, -1px 1px 0 #4d1609, 1px 1px 0 #4d1609;
	font-size: 15px;
	text-align: center;
}
.nav-menu-top {
	position: relative;
	.menu-menu-container {
		float: right;
		clear: both;
	}
	> div {
		&:extend(.clearfix all);
	}
	.menu-full-menu-container {
		display: none;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #bb6428;
		padding: 15px;
		border-radius: 0 0 10px 10px;
		z-index: @zindex-dropdown;
	}
}
#full-menu {
	text-align: justify;
	li {
		display: inline;
		a {
			padding: 5px;
			display: inline-block;
			color: #fff;
			font-weight: bold;
			text-shadow: -1px -1px 0 #4d1609, 1px -1px 0 #4d1609, -1px 1px 0 #4d1609, 1px 1px 0 #4d1609;
			&:hover {
				background-color: @link-color;
				color: @link-hover-color;
				text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
			}
		}
	}
	> li {
		> a {
			//font-weight: bold;
		}
	}
	.sub-menu {
		display: inline;
	}
}
#primary-menu {
	padding-left: 0;
	margin: 0;
	margin-right: 40px;
	min-height: 39px;
	li {
		list-style: none;
	}
	> li {
		float: left;
		> a {
			padding-left: 8px;
			padding-right: 8px;
			background-color: #bb6428;
			position: relative;
			text-align: center;
			line-height: 14px;
			color: #fff;
			font-weight: bold;
			display: block;
			font-size: 15px;
			text-shadow: -1px -1px 0 #4d1609, 1px -1px 0 #4d1609, -1px 1px 0 #4d1609, 1px 1px 0 #4d1609;
		}
		&:first-child + li {
			position: relative;
			&:before {
				content: "";
				display: block;
				.size(46px,28px);
				background: transparent url('@{img-path}/left-main-menu.png') repeat-x left bottom;
				position: absolute;
				top: 0;
				right: 100%;
			}
		}
		&:last-child {
			position: relative;
			&:after {
				content: "";
				display: block;
				.size(47px,28px);
				background: transparent url('@{img-path}/right-main-menu.png') repeat-x left bottom;
				position: absolute;
				top: 0;
				left: 100%;
			}
		}
		&.cat-icon {
			> a {
				padding-top: 46px;
				padding-bottom: 7px;
				&:before {
					content: "";
					&:extend(.icon-cat);
					display: block;
					position: absolute;
					bottom: 23px;
					margin: 0 auto;
					left: 50%;
					.translate(-50%, 0);
				}
				&:hover {
					&:before {
						background-image: url('@{img-path}/spritesheet-hover.png')!important;
					}
				}
			}
			/* START*/
			&.abenteuer > a:before{
				&:extend(.icon-cat.icon-cat-abenteuer);
			}

			&.action > a:before{
				&:extend(.icon-cat.icon-cat-action);
			}

			&.brettspiele > a:before{
				&:extend(.icon-cat.icon-cat-brettspiele);
			}

			&.denkspiele > a:before{
				&:extend(.icon-cat.icon-cat-denkspiele);
			}

			&.dice > a:before, &.other > a:before{
				&:extend(.icon-cat.icon-cat-dice);
			}

			&.geschick > a:before{
				&:extend(.icon-cat.icon-cat-geschick);
			}

			&.kinder > a:before{
				&:extend(.icon-cat.icon-cat-kinder);
			}

			&.madchen > a:before{
				&:extend(.icon-cat.icon-cat-madchen);
			}

			&.renen > a:before{
				&:extend(.icon-cat.icon-cat-renen);
			}

			&.sport > a:before{
				&:extend(.icon-cat.icon-cat-sport);
			}

			&.startseite > a:before{
				&:extend(.icon-cat.icon-cat-startseite);
			}
			/* END*/

			&.startseite {
				> a {
					padding-left: 25px;
					background-color: transparent;
					padding-right: 20px;
				}
				> a:before {
					&:extend(.icon-cat.icon-cat-startseite);
					display: inline-block;
					bottom: 8px;
					left: 8px;
				}
			}
		}
		&.show-more-menu {
			> a {
				/*padding-top: 13px;
				padding-bottom: 40px;
				position: relative;
				&:after {
					content: "";
					.font-icon;
					position: absolute;
					top: 70%;
					left: 50%;
					.translate(-50%, -50%);
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 8px solid #491210;
				}*/
			}
		}
	}
	.sub-menu {
		display: none;
	}
}
#footer-primary {
}
#menu-footer-primary {
	> li {
		display: inline-block;
		> a {
			color: #fff;
			font-weight: bold;
			display: inline-block;
			padding: 10px;
			position: relative;
			&:hover {
				color: #fff100;
			}
			&:after {
				content: "";
				display: block;
				.size(1px, 20px);
				background-color: rgba(255, 255, 255, 0.1);
				position: absolute;
				margin-top: -10px;
				top: 50%;
				right: 0px;
			}
		}
		&:first-child {
			> a {
				padding-left: 0;
			}
		}
		&:last-child{
			> a {
				&:after {
					display: none;
				}
			}
		}
	}
}
#menu-footer-seconds {
	text-align: right;
	> li {
		display: inline-block;
		> a {
			font-size: 12px;
			display: inline-block;
			padding: 5px 10px;
			color: #fff;
			&:hover {
				color: #fff100;
			}
		}
	}
}
.search-form {
	position: relative;
	.form-control {
		.opacity(.9);
		&:focus {
			.opacity(1);
		}
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: transparent;
		padding: 0 10px;
		margin: 0;
		min-height: 34px;
		line-height: 34px;
		font-size: 16px;
	}
}
// HEADER RIGHT
.header-right {
	.acc-column {
		float: right;
		margin-left: 15px;
	}
	.search-form {
		overflow: hidden;
	}
	.favorite-game-link {
		.fa-heart {
			position: absolute;
			top: 50%;
			left: 50%;
			.translate(-50%, -50%);
		}
	}
	.user-spaces {
		.dropdown {
			margin-left: 5px;
			&:last-child {
				margin-left: 0;
			}
		}
	}
	.favorite-game {
		.btn {
			position: relative;
			.circle-number {
				position: absolute;
				right: -2px;
				bottom: 58%;
			}
		}
		.dropdown-box {
		}
	}
	.recommend-box {
		margin-left: 5px;
	}
	.list-game-favorite {
		> li {
			> a {

			}
		}
		.game-item{
			font-size: 12px;
			> a {
				color: @text-color;
			}
			.game-img {
				float: left;
				width: 100px;
				margin-right: 10px;
				img {

				}
			}
			.game-info {
				overflow: hidden;
			}
		}
		.game-info {
			line-height: 1.2;
			.title {
				font-weight: bold;
				margin: 0 0 5px;
				font-size: 12px;
			}
			.description {
				font-size: 11px;
			}
		}
	}
}

.guest-space {
	text-align: right;
	.icon-cm-no-avatar {
		position: relative;
		top: 2px;
	}
}
#footer-widget {
	.widget {}
	color: #fff;
	.widget-title {
		color: #fff;
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
	}
}
.signin-register-box{
	display: none;
	width: 100%;
	background-color: #005e20;
	color: #fff;
	padding: @grid-gutter-width;
	position: fixed;
	left: 0;
	top: 0;
	z-index: @zindex-modal;
	max-height: 100%;
	.form-box, .register-hint, .field-hint {
		display: none;
	}
	.form-box {
		text-align: center;
		.form-title {
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	&.open {
		//display: block;
	}
	.forgot-pass {
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.forgot-pass,
	.not-a-member {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.not-a-member {
		margin-top: 15px;
		a {
			color: #fff;
		}
	}
	.form-desc {
		text-align: center;
		font-size: 15px;
	}
	.btn-bordered {
		border-color: #fff;
		color: #fff;
		text-transform: uppercase;
		min-width: 100px;
		font-weight: 300;
	}
	.btn-close {
		position: absolute;
		right: @grid-gutter-width;
		top: @grid-gutter-width;
		z-index: 10;
		&:hover, &:active {
			border-color: #fff;
		}
	}
	.field {
		margin-bottom: @grid-gutter-width;
	}
	.social-button-facebook {
		.btn {
			position: relative;
			.fa {
				position: absolute;
				left: 10px;
				top: 50%;
				.translate(0, -50%);
			}
		}
	}
	.btn {
		&.auth-facebook,
		&.auth-google {
			color: #fff;
		}
		&.auth-facebook {
			background-color: #2d4486;
		}
		&.auth-google {
			background-color: #df4a32;
		}
	}

}
.open-login-box {
	.form-box.login-form {
		display: block;
	}
}
.user-auth-button {
	&:extend(.btn all);
	background-color: #39b54a;
	color: #fff!important;
	font-weight: 300;
	text-transform: uppercase;
	&.auth-email {
		box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.45);
		min-width: 200px;
		font-size: 16px;
	}
	&:hover {
		color: #fff;
	}
}

.signin-register-box {
	input[type="text"], input[type="email"], input[type="password"],
	select {
		&:extend(.form-control);
	}
}
.popular-games-box {
	position: relative;
	padding: 40px 5px 5px;
	border-radius: @border-radius-base;
	position: relative;
	.board-header {
		margin-top: -25px;
	}
	.slick-list {
		//height: 326px!important;
	}
	.slick-slider {
		position: static;
	}
	.slick-prev,
	.slick-next {
		top: 20px;
		.square(25px);
		background-color: #240f0c;
		border-radius: @border-radius-small;
		&:before {
			font-size: 13px;
		}
	}
	.slick-prev {
		left: auto;
		right: 40px;
	}
	.slick-next {
		left: auto;
		right: 10px;
	}
	.more-link {
		position: absolute;
		top: 8px;
		right: 71px;
		color: #fff;
		font-weight: bold;
		background-color: #240f0c;
		border-radius: 4px;
		display: inline-block;
		padding: 2px 10px 3px;
	    &:hover {
	    	text-decoration: underline;
	    }
	}
}
.list-cat-ver {
	> li {
		+ li  {
			border-top: 1px solid #bb6428;
		}
		> a {
			.transition(150ms);
			display: block;
			padding: 5px;
			font-weight: 600;
			&:extend(.clearfix all);
		}
		.name {
			white-space: nowrap;
			.text-overflow;
			color: #240f0c;
			float: left;
			max-width: 80%;
		}
		.number {
			float: right;
			color: @brand-primary;
		}
		&:hover {
			> a {
				padding-left: 15px;
			}
		}
	}
}
.category-box-item {
	bordder-radius: 10px;
	.panel-body {
		padding: 10px;
		background-color: #ffc887;
		bordder-radius: 10px;
	}
	.image{
		img {
			width: 100%;
			border-radius: @border-radius-base;
		}
	}
	.more-btn {
		color: #2a170a;
		font-weight: bold;
		margin-top: 5px;
		&:hover {
			text-decoration: underline;
		}
		.fa {
			color: #ec1c24;
			font-size: 16px;
			margin-left: 5px;
			vertical-align: -2px;
		}
	}
}
.favorite-slider {
	.item {
		.transition(background 200ms ease-in-out);
		float: left;
		width: 20%;
		padding: 5px;
		&:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}
		&, > a, img {
			border-radius: @border-radius-base;
		}
		> a {
			background-color: #fac887;
			//border: 1px solid rgba(0, 0, 0, 0.5);
			position: relative;
			display: block;
			overflow-y: hidden;
			height: 0;
			padding-bottom: 75%;
		}
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
		.title {
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.8);
			color: #fff;
			padding: 5px;
			width: 100%;
			font-weight: bold;
			white-space: nowrap;
			font-size: 13px;
			.text-overflow;
		}
	}
}
@media(max-width: 1439px) {
	.favorite-slider  {
		.slick-slide {
		}
		.row-item {
			> .item:nth-child(n+11) {
				display: none;
			}
		}
	}
}
@media(min-width: 1440px) {
	.favorite-slider .item {
		width: 12.5%;
	}
	.slick-list {
		//height: auto;
	}
}

.list-new-game-ver {
	> li {
		+ li {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid #ea9c3a;
		}
	}
	.name {
		position: relative;
		> a {
			color: #ffffff;
			font-weight: bold;
		}
		.icon-cm {
			position: absolute;
			right: 0;
			top: 50%;
			.translate(0, -50%);
		}
	}
}